:root {
    --dark-theme: #212121;
    --header-color: #1e1e1e;
    --capital-yellow: #ffbe00;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-theme);
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overflow-x: hidden;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: var(--header-color);
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bolder;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #232323;
    color: var(--capital-yellow);
    border-radius: 10px;
}

/* Style the active/current link*/
.header a.active {
    background-color: var(--capital-yellow);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
  
/* Float the link section to the right */
.header-right {
    float: right;
    padding-right: 10px;
    font-weight: bold;
}

/* Add some spacing between the links in the header-right section */
.header-right a {
    margin-left: 10px;
}
  
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
        padding-bottom: 20px;
    }
    .header a.logo {
        padding-bottom: 40px;
        text-align: center;
    }
}





.main-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.main-content > * {
      margin-bottom: 20px;
}

.main-content h3 {
    padding-top: 30px;
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.main-content p {
    font-weight: 700;
    font-size: 15px;
    color: rgb(211, 211, 211);
    line-height: 25px;
}

@media screen and (max-width: 500px) {
    .main-content h3 {
        padding-top: 30px;
        font-weight: 700;
        font-size: 18px;
    }
    .main-content p {
        font-weight: 700;
        font-size: 14px;
    }
}